.oe_individual_product img {
    margin: auto;
}

.oe_ps_inner img {
    margin: auto;
    display: block;
}

.oe_ps_outer {
    padding: 5px !important;
}

.oe_ps_inner {
    border: 1px solid #ddd;
    padding: 0px 10px;
}

.oe_ps_inner h3 {
    height: 2em;
    overflow: hidden;
    position: relative;
    line-height: 1em;
}

.oe_ps_inner h3::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 10%;
    height: 2em;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
}

