.product_snippet .container {
    border: 1px solid #eee;
}

#product_selector {
    position: absolute;
    z-index: 1000;
    display: none;
}

#col_selector {
    position: absolute;
    z-index: 1000;
    display: none;
}
