.oe_individual_product img {
    margin: auto;
}

.oe_ps_inner img {
    margin: auto;
    display: block;
}

.oe_ps_outer {
    padding: 5px !important;
}

.oe_ps_inner {
    border: 1px solid #ddd;
    padding: 0px 10px;
}
