.oe_cr_outer {
    padding: 5px !important;
}

.oe_cr_inner img {
    margin: auto;
    display: block;
}

.oe_cr_inner {
    border: 1px solid #ddd;
    padding: 0px 10px;
}

.oe_cr_inner h3 {
    height: 2em;
    overflow: hidden;
    position: relative;
    line-height: 1em;
    color: #000;
}

.oe_cr_inner h3::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 10%;
    height: 1em;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
}

.product_short_description {
    height: 4.8em;
    overflow: hidden;
    position: relative;
    line-height: 1.2em;
}

.product_short_description::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 10%;
    height: 1.2em;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
}

.oe_cr_inner b {
    color: #000;
}

.district_description img {
    max-width: 100%;
}

.grid-item, .grid-item--width2 {
    padding: 15px;
}

@media (min-width: 480px) and (max-width: 767px) {
    .container {
        max-width: 748px;
    }

    .form-horizontal .form-group .control-label {text-align:right;}
}

@media (max-width: 767px) {
    .grid-item, .grid-item--width2 {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
}
